<div class='container text-white margin-top'>


	<h2>Información:</h2>

	<div class="card transparent mb-5 reveal fadeInLeft" data-delay="300ms">
		<h5 class="card-header">Evento: {{event.title}} </h5>
		<div class="card-body">
		<small>Fecha del evento: {{event.date}}</small>
			<p class="card-title">Descripción: <br> {{event.description}}</p>
			<p class="card-text"> Lugar: {{event.direction.country}}, {{event.direction.city}}</p>

			<p class="card-text">Categoria: {{event.category}}</p>
			<a href="/eventos" class="btn btn-primary btn-block">Volver</a>
			<a href="/" class="btn btn-dark btn-block">Reserva ya!</a>
			<a href="/eventos/{{event.id}}/contacto" class="btn btn-danger btn-block">Contactar!</a>
		</div>
	</div>
	

	<h2>Ubicación:</h2>
	<input type='text' value='{{event.id}}' id='id' hidden />
	<figure id='map' class=" reveal fadeInLeft" data-delay="600ms"></figure>

	<script src='/js/directions.js'></script>
	<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
	<script src='/js/events-map-setup.js'></script>
	<script
		src='https://maps.googleapis.com/maps/api/js?key={{googleApi}}&callback=initMap'
	></script>

</div>

<script src="../../js/background-texture.js"></script>
