<div class='container'>

	<h1>detalles del evento {{event.title}}</h1>


	<div class="card">
		<h5 class="card-header"> :D </h5>
		<div class="card-body">
			<h5 class="card-title">{{event.description}}</h5>
			<p class="card-text"> Lugar: {{event.direction.country}}, {{event.direction.city}}</p>

			<p class="card-text">Categoria: {{event.category}}</p>
			<a href="/eventos" class="btn btn-primary">Volver</a>
			<a href="/" class="btn btn-dark">Reserva ya!</a>

			<a href="{{event.id}}/contacto" class="btn btn-danger">Contactar!</a>
		</div>
	</div>
	

	<h1>Mapa del evento</h1>
	<hr />
	<input type='text' value='{{event.id}}' id='id' hidden />
	<figure id='map'></figure>

	<script src='/js/directions.js'></script>
	{{! <script src="/js/mapStyles.js"></script> }}
	<script src='https://unpkg.com/axios/dist/axios.min.js'></script>
	<script src='/js/events-map-setup.js'></script>
	<script
		src='https://maps.googleapis.com/maps/api/js?key={{googleApi}}&callback=initMap'
	></script>

</div>