{{#each events}}
<section class='container-fluid text-white'>
	<div class="row justify-content-around">
		<div class="col-md-10">
			<div class="row justify-content-around">
				<div class="col-md-6 margin-top">
					<div class="card my-3 p-3 transparent reveal fadeInLeft" data-delay="300ms">
						<img src="{{image}}" class="card-img-top" alt="{{title}}">
						<div class="card-body">
							<h5 class="card-title reveal fadeInUp" data-delay="300ms">{{title}}</h5>
							<p class="card-text reveal fadeInUp" data-delay="600ms"><small class="text-muted">{{direction.city}},
									{{direction.country}}</small></p>
							<p class="card-text reveal fadeInUp" data-delay="600ms">Fecha del evento: {{date}}</p>
							<p class="card-text reveal fadeInUp" data-delay="600ms">Descripción: <br> {{description}}.</p>
							<div class="row">
								<div class="col-md-6">
									<form action="/eventos/reserva/{{id}}" method="POST">
										<button type="submit" class="btn btn-danger btn-block reveal fadeInUp" data-delay="900ms">Reservar</button>
									</form>
								</div>
								<div class="col-md-6">
									<a href='/eventos/{{id}}' type="submit" class="btn btn-dark btn-block reveal fadeInUp" data-delay="900ms">Ver
										detalles</a>
								</div>
							</div>

						</div>

						<div class='redes-container'>

							<div class='share-btn'>
								<h5 class="text-center">Compártelo!</h5>
								<ul>
									<li><a href="" class='btn-facebook' data-id="fb"> <i class='fab fa-facebook-f'></i></a>
									</li>
									<li><a href="" class='btn-twitter' data-id="tw"> <i class='fab fa-twitter'></i></a>
									</li>
									<li><a href="" class='btn-telegram' data-id="tg"> <i class='fab fa-telegram'></i></a>
									</li>
									<li><a href="" class='btn-whatsapp' data-id="wa"> <i class='fab fa-whatsapp'></i></a>
									</li>
								</ul>
							</div>
						</div>
					</div>
				</div>
			</div>


		</div>
	</div>
	<script src="<path>/dist/share-buttons.js"></script>
</section>
{{/each}}

<script src="/js/background-texture.js"></script>
