<div class='container '>

	

	{{#each events}}
		<div class='card mb-5'>
			<img src='{{image}}' class='card-img-top' alt='{{title}}' />
			<div class='card-body'>
				<h5 class='card-title'>{{title}}</h5>
				<p class='card-text'>{{description}}.</p>
				<p class='card-text'><small
						class='text-muted'
					>{{direction.city}}</small></p>
				 <form  action="/admin/{{id}}/eventos/aceptar" method='POST'>

				<button type="submit" class="btn btn-dark mt-4"> Aceptar </button>
				
			</form> 

            <form action="/admin/{{id}}/eventos/borrar" method="POST">
                <button type="submit" class="btn btn-dark mt-4"> Rechazar </button>
            </form>
			</div>
		</div>

	{{/each}}
</div>