<div class='container margin-top'>
	<div class='row justify-content-center'>
		{{#each clients}}
		<div class='col-md-4 text-center'>

			<div class='card transparent p-5 text-white'>
				<img class='card-img-top' src='{{image}}' alt='{{name}}' />
				<div class='card-body'>
					<h5 class='card-title'>{{name}}</h5>
					<hr />
				</div>
				<form action="/user/buscar-usuarios/{{id}}/agregar" method="POST">
					<input type="text" name="route" value="clientes" hidden>
					<button class="card-link btn btn-dark border-white btn-block" name="id" value="{{id}}">Añadir a
						amigos</button>
				</form>
			</div>
		</div>
		{{/each}}
	</div>
</div>


<script src="../../js/background-texture.js"></script>