<div class="container">

  <h1> Bienvenido a tus eventos!</h1>

  <br>
  {{#each events}}
  <div class='col-md-12'>
    <div class="card" style="width: 18rem;">
      <img src='{{image}}' class="card-img-top" alt="{{title}}">
      <div class="card-body">
        <h5 class="card-title">{{title}}</h5>
        <p class="card-text">{{description}}</p>
      </div>


      <ul class="list-group list-group-flush">
        <li class="list-group-item">{{direction.country}}</li>
        <li class="list-group-item">{{direction.city}}</li>
        <li class="list-group-item">{{category}}</li>
      </ul>
      <div class="card-body">
        <a href="#" class="card-link">Card link</a>
        <a href="#" class="card-link">Another link</a>
      </div>
    </div>
  </div>

				<ul class='list-group list-group-flush'>
					<li class='list-group-item'>{{direction.country}}</li>
					<li class='list-group-item'>{{direction.city}}</li>
					<li class='list-group-item'>{{category}}</li>
				</ul>
				<div class='card-body'>
					<a href='#' class='card-link'>Card link</a>
					<a href='#' class='card-link'>Another link</a>
				</div>
			</div>
		</div>

  {{/each }}

  <a href="/">Volver</a>
</div>